<%- include('header') -%>
<div class="container">
    <h1>Spurningar um  <%= nafnFlokks%></h1>
    <% if (questions.length > 0) { %>
        <ul class="question-list">
            <% questions.forEach(question => { %>
                <li class="question-item">
                    <h3><%= question.text %></h3>
                    <ul class="answer-list">
                        <% question.answers.forEach(answer => { %>
                            <li class="answer-item">
                                <%= answer.text %>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Engar spurningar fundust í þessum flokki.</p>
    <% } %>
</div>


<%- include('footer') -%>